@import url('http://fonts.googleapis.com/css?family=Roboto');

html {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: .9em;
    line-height: 1.2;
}

header {
	min-height: 70px;
	padding: 5px 10px;
}

header h1 {
	font-size: 60px;
	font-family: "Roboto";
	text-align: center;
}

#main {
	width: 100%;
	margin: 0 auto;
}
#pic {
  float: left;
  margin-right: 50px;
  margin-left: 20px;
  display: inline;
}
p {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 20px;
  float: right;
}
.par {
  float: right;
  width: 450px;
  margin-right: 200px;
}

#main img {
	margin: 0 auto;
	display: block;
}

nav {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}	

nav li {
	list-style: none;
}

nav li a {
	text-decoration: none;
	font-size: 1.2em;
	color: #44aa61;
	-webkit-transition: 1s;
	transition: 1s;
}

nav li a:hover {
	color: #000;
}

/* ABOUT PAGE --- How Does GB Affect You*/

#you {
	margin: 0 10px;
	padding: 0 10px;
	line-height: 1.5;
}

#you img {
	float: left;
	margin: 0 10px;
	padding: 5px;
}

#you h2 {
	font-size: 25px;
	text-align: justify;
}

#you p {
	text-align: justify;
}


