html {
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    font-size: .9em;
    line-height: 1.2;
}

header h1 {
	font-size: 60px;
	text-align: center;
}

#main {
	width: 100%;
	margin: 0 auto;
}
img {
  float: right;
  margin-right: 50px;
  margin-left: 20px;
}
p {
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 20px;
}

#main img {
	margin: 0 auto;
	display: block;
}

nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}	

nav li {
	list-style: none;
}

